@charset "utf-8";
/* CSS Document */
* {
	font-family: 'Kumbh Sans', sans-serif;
	cursor: url("img/cursor.png"), auto;
}
body {
	padding: 0px 300px 0px 300px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(60deg, ghostwhite, #f3d8ff, #dac3fa, #bbb0f7, #92a0f4, mediumpurple);
	background-size: 250% 250%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
main, footer {
	background-color: white;
	align-content: stretch;
}
header {
	background-color: lavender;
	align-content: stretch;
}
footer {
	width: 100%;
	font-size: 10pt;
	height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
}
.creditos {
	line-height: 5px;
	margin-top: 5px;
}
.informacion_personal {
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 60px;
}
.texto {
	align-self: center;
}
.informacion_contenedores {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 50px 0px 0px 0px;
}
.informacion1 {
	max-width: 45%;
}
h1, h2, h3 {
	color: mediumpurple;
}
h1 {
	font-size: 50pt;
	padding-right: 10px;
	font-family: 'Concert One', cursive;
	display: flex;
	flex-direction: row;
}
@keyframes fade-in {
	0%,50% {
		opacity: 0;
	}
}
h2 {
	font-size: 50pt;
	font-weight: 700;
	margin: 60px 0px 20px 100px;
	padding-left: 55px;
}
h3 {
	font-size: 24pt;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 40px;
}
h3:hover {
  color: hotPink;
}
@media (-webkit-min-device-pixel-ratio:0) {
  h3 {
    background-color: mediumpurple;
    background-image: -webkit-linear-gradient(left, #B589D6 0%, #DF9DDD 25%, #804FB3 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .2s;
    -webkit-background-clip: text;
  }
  h3:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}
h3, ul {
	padding: 0;
}
h2:hover {
  color: hotPink;
}
@media (-webkit-min-device-pixel-ratio:0) {
  h2 {
    background-color: mediumpurple;
    background-image: -webkit-linear-gradient(left, #B589D6 0%, #DF9DDD 25%, #804FB3 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .2s;
    -webkit-background-clip: text;
  }
  h2:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}
 img {
	margin-left: 100px;
	margin-right: 65px;
	margin-top: 40px;
}
img, h1, #datos-matias, .informacion1, .informacion2, .botonera, .portfolio {
	animation: fade-in 1.25s ease;
}
#datos-matias {
	width: 145%;
	background-color: mediumpurple;
	color: white;
	border-radius: 35px;
}
#datos-matias span {
	font-weight: 400;
	font-style: normal;
}
#datos-matias ul li {
	padding-left: 20px;
	font-weight: 700px;
	list-style: none;
}
#datos-matias ul {
	padding: 20px 0 20px 20px;
}
ul {
	display: block;
	list-style-type: circle;
	margin-top: 0px;
}
li {
	display: list-item;
	text-align: left;
	padding-top: 7px;
}
p {
	padding: none;
	margin-right: 50px;
	color: black;
}
main {
	padding: 0 0 50px 0px;
}
a {
	text-decoration: none;
}
.links::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: mediumpurple;
	transition: width .3s;
}
.links:hover::after {
	width: 70%;
	transition: width .3s;
}
.botonera {
	list-style: none;
	max-height: 50px;
	padding: 10px;
	margin: 35px 60px 0px 100px;
	background-color: mediumpurple;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: center;
	position: sticky;
	top: 40px;
}
.botonera a {
	color: white;
}
.botonera a:hover {
	color: rebeccapurple;
}
@media (-webkit-min-device-pixel-ratio:0) {
 	h3 {
	background-color: mediumpurple;
	background-position: 100% 0;
	background-size: 200% 200%;
	color: transparent;
	-webkit-transition: .1s .2s;
	-webkit-background-clip: text;
	}
	h3:hover {
	background-position: 0 0;
	color: transparent;
	transition: .4s 0;
	}
}
.botonera ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	height: 50px;
	gap: 70px;
	font-size: 15pt;
	margin-top: 10px;
}
nav ul {
	list-style: none;
}
.columnas-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
}
.columnas-container h3 {
	margin: 25px 0px 0px 100px;
}
.columnas-container p {
	margin: 10px 100px 0px 100px;
}
.columna {
	padding: 10px;
	box-sizing: border-box;
	width: 50%;
}
.columna a {
	color: mediumpurple;
}

/* form */

form{
	padding-left: 100px;
	padding-top: 50px;
}
form {
  opacity: 0;
}
form:nth-child(1) {
  animation-name: testanim;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes testanim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
label {
	width:30%;
	display: inline-block;
}

.divisionesform {
	margin: 10px;
	padding: 10px 0px 20px;
	border-bottom: 1px solid #ccc;
}

input, textarea {
	width: 30%;
	border: none;
	background: #ccc;
	padding:10px;
	outline: none;
	height: 30px;
}

textarea {
	height: 100px;
}

input:hover, textarea:hover {
	background: #aaa;
}


input:focus, textarea:focus {
	background: mediumpurple;
}

button {
	background: mediumpurple;
	border: none;
	padding: 5px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

button:hover {
	background: #4B0082; 
}

button:active {
	background: #9874D3;
}