@charset "utf-8";
/* CSS Document */
* {
	font-family: 'Kumbh Sans', sans-serif;
}
body {
	padding: 0px;
	margin: 0px;
}
#outer-container {
	background-color: white;
	display: flex;
	justify-content: center;
}
#container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lavender;
}
#container_footer {
	display: flex;;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}
h1, h2, h3 {
	color: mediumpurple;
}
h1 {
	font-size: 50pt;
	padding-right: 10px;
	font-family: 'Concert One', cursive;
	display: inline;
}
h2 {
	font-size: 20pt;
	font-weight: 400;
	display: inline;
}
h3 {
	font-size: 30pt;
	font-weight: 700;
}
img {
	border: 5px dashed #9990c1;
	border-radius: 50px;
	margin: 100px 0 0 10px;
}
#datos-matias {
	width: 700px;
	background-color: mediumpurple;
	color: white;
	border-radius: 20px;
	margin-top: 10px;
}
#datos-matias span {
	font-weight: 400;
	font-style: normal;
}
#datos-matias ul li {
	padding-left: 20px;
	font-weight: 700px;
	list-style: none;
}
#datos-matias ul {
	padding: 20px 0 20px 20px;
}
ul {
	display: block;
	list-style-type: circle;
}
li {
	display: list-item;
	text-align: left;
}
p {
	padding: none;
	margin-right: 50px;
}
main {
	padding: 0 0 50px 100px;
	width: 800px;
}